<div id = "login">
        <input type = "text" id = "loginUser" name = "username" placeholder = "Username..."><br>
        <input type = "password" id = "loginPassword" name = "password" placeholder = "Password..."><br>
        <button type = "button" id = "submitLogin" name = "login" onClick = "checkData()">Login</button>
        <button type = "button" id = "RegisterAcct" name = "register" onClick = "register()">Register</button>
      </div>