<div id = "register">
    <input type = "text" class = "regInput" id = "regFirst" name = "firstName" placeholder = "First Name..."><br>
    <input type = "text" class = "regInput" id = "regLast" name = "lastName" placeholder = "Last Name..."><br>
    <input type = "text" class = "regInput" id = "regUser" name = "username" placeholder = "Username..."><br>
    <input type = "text" class = "regInput" id = "regPassword" name = "password" placeholder = "Password..."><br>
    <input type = "text" class = "regInput" id = "regConfirmPassword" name = "confirmPassword" placeholder = "Confirm Password..."><br>
    <button type = "button" class = "btnInReg" id = "regSubmit" name = "submitBtninReg" onClick = "checkData()">Register</button>
    <button type  = "button" class = "btnInReg" id = "loginBtn" name = "loginBtnInReg" onClick = "login()">Login</button>
</div>