   <link rel="stylesheet" href="../CSS/table.css">
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>12-13-2022</td>
        </tr>
    </table>